.git
.git-lfs
**/.nextflow*
**/.DS_Store

databases
postgwas-db-grch38-2025-11

databases.tar.gz

work/
results/

nf-test/
**/nf-test/
nf-test.*
**/nf-test.*
nf-test
nf-test-*
.nf-test.log

/archive

_site